.navagation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: .7rem;
    color: white;
    background-color: #5C8783;

    &__name{
    }

    &__middle{
        display: flex;
        flex-direction: row;

        &-item{
            padding-right:.8rem ;
            padding-left: .8rem;
        }
    }
    &__social{
        display: flex;
        flex-direction: row;

        &-item{
            padding-right:.8rem ;
            padding-left: .8rem;
        }
    }
}